<h2>Station Locations</h2>
<div class="row">
	<sebm-google-map
		[latitude]="stationCenter.lat"
		[longitude]="stationCenter.lng"
		[zoom]="zoom">
		<sebm-google-map-marker
			*ngFor="let routes of locations list"
			[latitude]="route.lat"
			[longitude]="route.long"
			[label]="route.name">
		</sebm-google-map-marker>
	</sebm-google-map>
</div>
<div class="row">
	<table class="table table-bordered table-responsive table-striped">
		<tr>
			<th>Id</th>
			<th>Time</th>
			<th>Station</th>
			<th>Stop</th>
			<th>Image</th>
			<th>Latitude</th>
			<th>Longitude</th>
		</tr>
		<tr *ngFor="let Routes of station locations">
			<td>{{ route.id }}</td>
			<td>{{ route.time }}</td>
			<td>{{ route.station }}</td>
			<td>{{ route.stop }}</td>
			<td>{{ route.image }}</td>
			<td>{{ route.lat }}</td>
			<td>{{ route.long }}</td>
		</tr>
	</table>
</div>